<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7 ie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8 ie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9 ie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>{{ page.title }}</title>
	<meta name="author" content="{{ site.author.name }}">
	<link rel="shortcut icon" href="/assets/images/ico/z.ico">
	<link href="{{ ASSET_PATH }}/css/style.css" rel="stylesheet" media="all">
	<link href="{{ ASSET_PATH }}/bootstrap/css/font-awesome.min.css" rel="stylesheet">
	<link href="{{ ASSET_PATH }}/css/barrageGame.css" rel="stylesheet">
	<script src="{{ ASSET_PATH }}/js/jquery-1.9.1.js" type="text/javascript"></script>
	<script src="{{ ASSET_PATH }}/js/barrageGame.js" type="text/javascript"></script>
</head>
<body>

<div id="page" class="hentry">
	<header class="the-header">
		<div class="unit-head">
			<div class="unit-inner unit-head-inner">
				<nav class="nav-global">
					<ul>
						<li class="logo"><a href="/">{{ site.title }}</a></li>
						<li class="archive"><a href="/archive.html">文章</a></li>
						<li class="category"><a href="/categories.html">分类</a></li>
						<li class="tag"><a href="/tags.html">标签</a></li>
						<li><a href="/about.html" target="_blank">关于作者</a></li>
					</ul>
				</nav>
			</div><!-- unit-inner -->
		</div><!-- unit-head -->
	</header>
	<div class="body" role="main">
		<div class="unit-body">
			<div class="unit-inner unit-body-inner">
				<div class="entry-content">
					
					<article class="unit-article layout-post">
						<div class="unit-inner unit-article-inner">
							<div class="content">
								<header>
									<div class="unit-head">
										<div class="unit-inner unit-head-inner">
											<h1 class="h2 entry-title">{{ page.title }}</h1>
										</div><!-- unit-inner -->
									</div><!-- unit-head -->
								</header>

								<div class="bd">
									<div class="entry-content">
										{{ content }}
										<div class="meta">
											<p class="date-publish">
												Published: 
												<date class="date-pub" title="{{ page.date | date_to_xmlschema }}" datetime="{{ page.date | date_to_xmlschema }}" pubdate>
												<span class="month"><abbr>{{ page.date | date: '%B' }}</abbr></span>
												<span class="day">{{ page.date | date: '%d' }}</span>
												<span class="year">{{ page.date | date: '%Y' }}</span>
												</date>
											</p>
											<ul class="list-category list-linear">
												<li class="list-head">category: </li>
												{% assign categories_list = page.categories %}
												{% include JB/categories_list %}
											</ul>
											<ul class="list-tag list-linear">
												<li class="list-head">tags: </li>
												{% assign tags_list = page.tags %}
												{% include JB/tags_list %}
											</ul>
										</div><!-- meta -->
									</div><!-- entry-content -->
									<div class="misc-content">
										<div class="social">
											<ul class="list-linear">
												<li><div class="twitter-tweet"><a href="https://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="{{ site.author.twitter }}" data-lang="en">Tweet</a></div></li>
												<li><div class="twitter-follow"><a href="https://twitter.com/{{ site.author.twitter }}" class="twitter-follow-button" data-show-count="false" data-lang="en"></a></div></li>
											</ul>
										</div>
										<div class="comment">
										{% include JB/comments %}
										</div>
									</div><!-- misc-content -->
								</div><!-- bd -->
								<footer class="unit-foot">
									<div class="unit-inner unit-foot-inner">
										<nav class="pagination">
											<ul>
												{% if page.previous %}
												<li class="prev"><a class="internal" rel="prev"  href="{{ page.previous.url }}" title="View {{ page.previous.title }}">&laquo; {{ page.previous.title }}</a></li>
												{% endif %}
												{% if page.previous and page.next %}
												<li class="pipe"> | </li>
												{% endif %}
												{% if page.next %}
												<li class="next"><a class="internal" rel="next"  href="{{ page.next.url }}" title="View {{ page.next.title }}">{{ page.next.title }} &raquo;</a></li>
												{% endif %}
											</ul>
										</nav>
										<p class="gotop">
											<a href="#page">Back to Top</a>
										</p>
									</div>
								</footer>

							</div><!-- content -->
						</div><!-- unit-inner -->
					</article>

				</div>
			</div><!-- unit-inner -->
		</div><!-- unit-body -->
	</div><!-- body -->
	<footer class="the-footer">
		<div class="unit-foot">
			<div class="unit-inner unit-foot-inner">
				<div class="misc vcard">
					<h4>分类</h4>
					<ul class="tag_box inline">
					    {% assign categories_list = site.categories %}
					    {% include JB/categories_list %}
					</ul>
				</div><!-- misc -->
				<div class="misc vcard">
					<h4>实验室</h4>
					<ul class="tag_box inline">
					  	<li><a href="/html5/2013/11/25/barrage-game" target="_blank">键盘小游戏</a></li>
					  	<li><a href="/eva.html" target="_blank">EVA主题视差滚动</a></li>
					  	<li><a href="/javascript/2013/04/14/series-of-javascript-effect" target="_blank">图片边框效果</a></li>
					  	<li><a href="/raphaeljs/2014/05/23/raphael-piechart" target="_blank">南丁格尔双饼图</a></li>
					</ul>
				</div>
				<div class="misc vcard">
					<h4>关于</h4>
					<ul>
						<li class="contact"><address><span class="author fn n">{{ site.author.name }}</span> - <span class="fn email">{{ site.author.email }}</span></address></li>
						<li class="github"><a href="http://github.com/{{ site.author.github }}/" rel="me">github.com/{{ site.author.github }}</a></li>
					</ul>
				</div><!-- misc -->
				<p class="licence">
					@ 2014 <a href="{{ HOME_PATH }}">zhangxiaolong</a>. Powered by <a href="https://github.com/mojombo/jekyll">Jekyll</a>.
				</p>
			</div><!-- unit-foot-inner -->
		</div><!-- unit-foot -->
	</footer>
</div><!-- page -->

</body>
</html>
