html, body {
    text-align: center;
    margin: 0;
    padding:0;
    font-family: '微软雅黑',Arial,sans-serif;
}

body {
    overflow-x: hidden;
}

* {
    margin: 0;
    padding:0;
    outline: none;
}

a {
    cursor: pointer;
    text-decoration: none;
}

a:hover, a:focus {
    text-decoration: none;
}

/* wrapper z-index:1800~1900 */
#wrapper {
    position: relative;
    background-image: url("../../../images/eva/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1800;
    overflow: hidden;
}

#cover {
    background: #000000;
    opacity: 0.90;
    overflow: hidden;
}

#glass {
    background-color: #fbfbfb;
    position: relative;
    top: 40%;
    left: 45%;
    overflow: hidden;
}

#glass img {
    cursor: pointer;
    position: absolute;
}

#topWall, #bottomWall {
    z-index: 1900;
    position: absolute;
    background-image: url("../../../images/eva/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#topWall {
    top: 0;
    left: 0;
}

#bottomWall {
    top: 50%;
    left: 0;
}

/**
 *site container z-index:1000~1200
 */
#siteWrapper {
    display: none;
    height: 99%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    z-index: 1000;
}

/* header z-index:1200 */
#header {
    position: relative;
    width: 100%;
    height: 150px;
    z-index: 1200;
}

#headerWrapper {
    display: table;
    position: relative;
    vertical-align: middle;
    width: 100%;
    height: 100px;
    margin: 0 auto;
    padding: 25px 80px;
}

h1.site-title {
    font-size: 13px;
    width: 80%;
    font-weight: 200;
    display: table-cell;
    text-align: right;
}

h1.site-title img {
    max-height: 100px;
    max-width: 100px;
}

#menu {
    display: table-cell;
    text-align: right;
    width: 5%;
    color: #fff;
    font-size: 24px;
    line-height: 32px;
    width: 32px;
    height: 32px;
}

/* section z-index:1100 */
section#contentWrapper {
    position: relative;
    z-index: 1100;
}

/* parallaxImages z-index:1110 */
#parallaxImages {
    position: relative;
    z-index: 1110;
}

.image-container {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    overflow: hidden;
}

.image-container img {
    position: relative;
    opacity: 0.95
}

/* parallax-item z-index:1150 */
.parallax-item {
    position: relative;
    width: 100%;
    z-index: 1150;
}
/* parallax-item 第一部分 */
.item-over-image-wrapper {
    width: 100%;
}

/* shinji parallax-item */
#shinji .item-over-image-wrapper i#scrollTip {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 200px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    font-size: 28px;
    color: #fff;
}

/* parallax-item 第二部分 */
.item-content {
    position: relative;
    background: #fff;
    height: 500px;
    /*padding: 0 100px;*/
}

.item-content .roleImg {
    position: absolute;
    height: 500px;
    display: none;
}

.item-content .roleInfo {
    position: absolute;
    width: 300px;
    height: 500px;
    display: none;
}

.item-content .roleInfo li {
    list-style: none;
    width: 300px;
    height: 100px;
    line-height: 100px;
    font-weight: bold;
    font-size: 28px;
    text-align: left;
}

#shinji .item-content .roleInfo li {
    color: #9932CC;
}

#rei .item-content .roleInfo li {
    color: #87CEFA;
}

#asuka .item-content .roleInfo li {
    color: #ea1221;
}   

#kaworu .item-content .roleInfo li {
    color: #C0C0C0;
}      

#mari .item-content .roleInfo li {
    color: #dc7fa3;
}

/* 蜂巢 z-index:1002 */
#comb {
    position: fixed;
    /*background-color: #fff;*/
    opacity: 0.6;
    z-index: 1111;
    overflow: hidden;
}

.hexagon {
    fill: none;
    stroke: #fff;
    stroke-width: 3px;
}

/* footer */
#footer {
    position: relative;
    width: 100%;
    z-index: 1200;
    opacity: 0;
}
