html, body {
    text-align: center;
    margin: 0;
    padding:0;
}

body {
    overflow-x: hidden;
}

html, body, div, ul, li, h1, h2, h3, p, small, a, span {
    font-family: '微软雅黑',Arial,sans-serif;
}

* {
    margin: 0;
    padding:0;
    outline: none;
}

a {
    cursor: pointer;
    text-decoration: none;
}

a:hover, a:focus {
    text-decoration: none;
}

/* wrapper z-index:1800~1900 */
#wrapper {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1800;
    overflow: hidden;
}

#cover {
    background: #000000;
    opacity: 0.90;
    overflow: hidden;
}

.load-bar {
    position: absolute;
    width: 200px;
}

#glass {
    background-color: #fbfbfb;
    position: relative;
    top: 40%;
    left: 45%;
    overflow: hidden;
}

#glass img {
    cursor: pointer;
    position: absolute;
}

#topWall, #bottomWall {
    z-index: 1900;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
}

#topWall {
    top: 0;
    left: 0;
}

#bottomWall {
    top: 50%;
    left: 0;
}

/**
 *site container z-index:1000~1200
 */
#siteWrapper {
    display: none;
    height: 99%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    z-index: 1000;
}

/* header z-index:1200 */
#header {
    position: relative;
    width: 100%;
    height: 150px;
    z-index: 1200;
}

#headerWrapper {
    display: table;
    position: relative;
    vertical-align: middle;
    width: 100%;
    height: 100px;
    margin: 0 auto;
    padding: 25px 80px;
}

h1.site-title {
    font-size: 13px;
    width: 80%;
    font-weight: 200;
    display: table-cell;
    text-align: right;
}

h1.site-title img {
    max-height: 100px;
    max-width: 100px;
}

#menu {
    display: table-cell;
    text-align: right;
    width: 5%;
    color: #fff;
    font-size: 24px;
    line-height: 32px;
    width: 32px;
    height: 32px;
}

/* section z-index:1100 */
section#contentWrapper {
    position: relative;
    z-index: 1100;
}

/* parallaxImages z-index:1110 */
#parallaxImages {
    position: relative;
    z-index: 1110;
}

.image-container {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    overflow: hidden;
}

.image-container img {
    position: relative;
    opacity: 0.95
}

/* parallax-item z-index:1150 */
.parallax-item {
    position: relative;
    width: 100%;
    z-index: 1150;
}
/* parallax-item 第一部分 */
.item-over-image-wrapper {
    width: 100%;
}

/* shinji parallax-item */
#shinji .item-over-image-wrapper i#scrollTip {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 200px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    font-size: 28px;
    color: #fff;
}

/* parallax-item 第二部分 */
.item-content {
    position: relative;
    background: #fff;
}

/* shinji */
#shinji .item-content {
    padding: 80px;
}
#shinji .item-content img {
    height: 10%;
    width: 30%;
}
#shinji .item-content h1 {
    width: 30%;
    margin: 20px auto;
}

/* rei */
#rei .item-content {
    padding: 80px;
}
.imageSlide {
    width: 80%;
    margin: 0 auto 30px;
    border: 10px solid #a9cfbf;
}
#rei .item-content .imageSlide .slide-text {
    height: 100px;
    width: 100%;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: 0px;
    padding: 10px;
    background: #a9cfbf;
    color: #fff;
    font-size: 24px;
    line-height: 80px;
    opacity: 0.8;
}
#rei .item-content h1.lines {
    width: 80%;
    margin: 10px auto;
    text-align: left;
}
#blog {
    width: 80%;
    display: block;
    margin: 20px auto;
    text-align: right;
}
#blog a {
    color: #f47171;
}

#rei .item-content .gallery {
    height: 160px;
    width: 660px;
    margin: 0px auto 20px;
    overflow: hidden;
}
#rei .item-content .gallery ul li {
    list-style: none;
    height: 160px;
    width: 220px;
    float: left;
}
#rei .item-content .gallery img {
    height: 160px;
    margin: 0px 20px;
}

/* asuka */
#asuka .item-content {
    padding: 80px;
}

#asuka .item-content .imageSlide .slide-text {
    text-align: left;
    height: 200px;
    width: 100%;
    left: 0px;
    bottom: 0px;
    margin: 0px;
    padding: 15px;
    background: #a9cfbf;
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    opacity: 0.8;
}
#asuka .item-content h1.lines {
    width: 80%;
    margin: 10px auto;
    text-align: left;
}

/* kaworu */
#kaworu .item-content {
    padding: 80px;
}
#kaworu .item-content h1.Lyrics {
    width: 66%;
    margin: 10px auto;
}
#kaworu .item-content h3.lines {
    width: 60%;
    margin: 10px auto;
    text-align: left;
}
#kaworu .item-content h3.linesGap {
    width: 80%;
    height: 30px;
}
#kaworu .item-content img {
    width: 60%;
    margin: 50px 0px;
}

/* mari */
#mari .item-content {
    padding: 80px;
}
#mari .item-content img {
    width: 20%;
    margin-top: 20px;
}

/* 蜂巢 z-index:1002 */
#comb {
    position: fixed;
    /*background-color: #fff;*/
    opacity: 0.6;
    z-index: 1111;
    overflow: hidden;
}

.hexagon {
    fill: none;
    stroke: #FFFFFF;
    stroke-width: 3px;
}

/* footer */
#footer {
    position: relative;
    width: 100%;
    height: 150px;
    z-index: 1200;
    background: #333;
    overflow: hidden;
}
#footer p {
    line-height: 100px;
    font-size: 14px;
    color: #fff;
}